.gradle
.idea
out
build
release
*.log
readme/forest.ply
readme/Kornhaus_6m.ply
readme/Kornhaus_5m.ply
readme/Kornhaus_2.5m.ply
readme/bunny.ply
readme/Kornhaus_1m.ply
readme/Kornhaus_500k.ply
readme/pcl-5KHtvjs6g8.ply
readme/StadtmuseumAarau_8mio.ply
examples/VideoClipExample/forest-blk360_centered.ply
